Source: gmutils
Section: utilities
Priority: optional
Maintainer: Genmeta Tech Limited <developer@genmeta.net>
Build-Depends: debhelper-compat (= 13)

Package: gmutils
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Genmeta Binary Utilities
 Genmeta command-line tools for DHTTP/3, DShell, DNS, and identity management.
